{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% load static %}

{% block content %}
<!--Hero container-->
<div class="container-fluid hero-background d-flex flex-row flex-wrap justify-content-center">
    <div class="hero-wrap d-flex flex-column flex-wrap align-items-center">
        <h1>We make bedtime magic</h1>
        <img class="hero-front" src="/media/hero-front2.webp" alt="sleeping children">
    </div>
</div>
<!--Category container-->
<div class="container category-container d-flex flex-row flex-wrap justify-content-center">
    <div class="card category-card" style="width: 18rem;">
        <img src="/media/lights.webp" alt="girl holding lights">
        <div class="card-body category-slider">
            <h2 class="category-caption">Lights</h2>
        </div>
        <div class="overlay">
            <a href="#" class="btn btn-primary">Shop</a>
        </div>
    </div>
    <div class="card category-card" style="width: 18rem;">
        <img src="/media/teddies.webp" alt="teddy bear">
        <div class="card-body category-slider">
            <h2 class="category-caption">Cuddlies</h2>
        </div>
        <div class="overlay">
            <a href="#" class="btn btn-primary">Shop</a>
        </div>
    </div>
    <div class="card category-card" style="width: 18rem;">
        <div class="category-slider">
            <img src="/media/books.webp" alt="man and child reading">
            <h2 class="category-caption">Books</h2>
        </div>
        <div class="overlay">
            <a href="#" class="btn btn-primary">Shop</a>
        </div>
    </div>
    <div class="card category-card" style="width: 18rem;">
        <img src="/media/story-card.webp" alt="ship in the night sky">
        <div class="card-body category-slider">
            <h2 class="category-caption">Stories</h2>
        </div>
        <div class="overlay">
            <a href="#" class="btn btn-primary">Read</a>
        </div>
    </div>
</div>
<!--Stories container-->
<div class="container story-wrapper">

</div>

{% endblock %}