{% if reviews %}
{% for review in reviews %}

<p class="light-blue fw-bold">Added by <strong>{{ review.author }}</strong></p>
<div class="fst-italic">
    <p><i class="fas fa-star mr-1 text-warning"></i> {{ review.rating }}</p>
    <p>{{ review.content|safe }}</p>
    <p class="small text-muted">{{ review.created_on }}</p>
</div>
{% if user == review.author or user.is_superuser %}
<div class="mt-2">
    <a href="{% url 'edit_review' product.id review.id %}" class="btn btn-outline-secondary">Manage
        Review
        <i class="fa-solid fa-sm fa-pencil"></i></a>
</div>
{% endif %}

<hr class="w-100">

{% endfor %}
{% else %}
<div class="col-12 text-center">
    {% if user.is_authenticated %}
    <p>This product has no reviews yet. How about adding one?<br>
        Click the Add Review button below to get
        started.</p>
    <p class="mt-2"><a href="{% url 'add_review' product.id %}" class="btn btn-outline-secondary">Add
            Review <i class="fa-solid fa-sm fa-pencil"></i></a></p>
    {% else %}
    <p class="mb-2">This product has no reviews yet. How about registering or logging in to add one?</p>
        <a href="{% url 'account_signup' %}" class="btn btn-outline-secondary">Register <i class="fa-solid fa-user-plus"></i></a>
        <a href="{% url 'account_login' %}" class="btn btn-outline-secondary">Login <i class="fa-solid fa-right-to-bracket"></i></a>
    {% endif %}
</div>
{% endif %}
