{% load static %}

<footer class="footer mt-5">
    <div class="row mt-3 mb-3 footer-wrapper">
        <div class="col-lg-4">
            <h6 class="px-3 text-uppercase">Subscribe</h6>
            <p class="px-3 mb-0">Keep up to date about latest products and stories with our monthly
                newsletter</p>
            <strong><a class="news-link px-3" data-bs-toggle="collapse" href="#collapseNewsletter" role="button"
                    aria-expanded="false" aria-controls="collapseExample""><i class=" fa-regular fa-newspaper"></i>
                    Subscribe to Newsletter.</a></strong>
        </div>
        <div class="col-lg-3 text-uppercase">
            <h6 class="px-3">Information</h6>
            <div class="flex flex-column">
                <ul class="list-unstyled grey">
                    <li><a href="{% url 'privacy' %}" class="nav-link px-3">Privacy Policy</a></li>
                    <li><a href="{% url 'terms' %}" class="nav-link px-3">Terms and Conditions</a></li>
                    <li><a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop" class="nav-link px-3 del-link">Delivery & returns</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <h6 class="px-3 text-uppercase">Contact us</h6>
            <ul class="list-unstyled grey mb-0">
                <li class="px-3"><a href="tel:+353891234567" class="phone"> +353 89 123 4567</a><br></li>
                <li class="px-3"><a href="email:info@alittledream.ie" class="phone"> info@alittledream.ie</a><br></li>
            </ul>
            <ul class="nav">
                <!--Social media links-->
                <li class="nav-item">
                    <a href="https://facebook.com" target="_blank" rel="noopener nofollow" class="nav-link px-3"
                        aria-label="Visit our facebook page (opens in a new tab)"><i
                            class="fa-brands fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a href="https://youtube.com" target="_blank" rel="noopener nofollow" class="nav-link px-3"
                        aria-label="Visit our youtube channel (opens in a new tab)"><i
                            class="fa-brands fa-youtube"></i></a>
                </li>
                <li class="nav-item">
                    <a href="https://instagram.com" target="_blank" rel="noopener nofollow" class="nav-link px-3"
                        aria-label="Visit our instagram profile (opens in a new tab)"><i
                            class="fa-brands fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <!--Mailchimp signup form-->
    <div class="collapse" id="collapseNewsletter">
        <div class="card card-body">
            <div id="mc_embed_shell">
                <div id="mc_embed_signup">
                    <form
                        action="https://gmail.us21.list-manage.com/subscribe/post?u=11209e7035f9d3e4b49c70a66&amp;id=4697227f06&amp;f_id=00fae1e6f0"
                        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                        target="_blank">
                        <div id="mc_embed_signup_scroll">
                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                                        class="asterisk">*</span></label><input type="email" name="EMAIL"
                                    class="required email" id="mce-EMAIL" required="" value=""><span
                                    id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display: none;"></div>
                                <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                /* real people should not fill this in and expect good things - do not remove this or
                                risk form bot signups */
                                <input type="text" name="b_11209e7035f9d3e4b49c70a66_4697227f06" tabindex="-1" value="">
                            </div>
                            <div class="optionalParent">
                                <div class="clear foot">
                                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                                        value="Subscribe">
                                    <p style="margin: 0px auto;"><a href="http://eepurl.com/iAQlns"
                                            title="Mailchimp - email marketing made easy and fun"><span
                                                style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                                                    class="refferal_badge"
                                                    src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                                    alt="Intuit Mailchimp"
                                                    style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
    <!--Author and GitHub link-->
    <hr class="w-70 mx-auto">
    <p class="text-center text-muted mt-2">Created for educational purposes by Aga Tomaszewska, no orders will be
        processed or fulfilled. More
        details at
        <a href="https://github.com/AgaToma" target="_blank" rel="noopener" class="black"
            aria-label="Github (Opens in a new tab)">
            Github
            <i class="fab fa-github"></i>
        </a>
    </p>
</footer>