{% load static %}

<footer class="footer mt-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 pl-lg-5 text-uppercase">
            <h6>Information</h6>
            <div class="flex flex-column">
                <ul class="list-unstyled">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 text-uppercase">
        <h6>Contact us</h6>
        <ul class="nav justify-content-center">
            <!--Social media links-->
            <li class="nav-item">
                <a href="https://facebook.com" target="_blank" rel="noopener" class="nav-link px-3 black"
                    aria-label="Visit our facebook page (opens in a new tab)"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li class="nav-item">
                <a href="https://youtube.com" target="_blank" rel="noopener" class="nav-link px-3 black"
                    aria-label="Visit our youtube channel (opens in a new tab)"><i class="fa-brands fa-youtube"></i></a>
            </li>
            <li class="nav-item">
                <a href="https://instagram.com" target="_blank" rel="noopener" class="nav-link px-3 black"
                    aria-label="Visit our instagram profile (opens in a new tab)"><i
                        class="fa-brands fa-instagram"></i></a>
            </li>
        </ul>
    </div>
    <!--Author and GitHub link-->
    <p class="text-center text-muted">Built for educational purposes, no orders will be charged or fulfilled. More
        details at
        <a href="https://github.com/AgaToma" target="_blank" rel="noopener" aria-label="Github (Opens in a new tab)">
            Github
            <i class="fab fa-github"></i>
        </a>
    </p>

</footer>