<header>
  {% with request.resolver_match.url_name as url_name %}
  <!--Delivery banner-->
  <div id="delivery-banner" class="row text-center">
    <h4 class="my-1">Free delivery on orders over €{{ free_delivery_threshold }}!
      <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
        </svg>
      </a>
    </h4>
  </div>
  <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" data-bs-scroll="true" data-bs-backdrop="false"
    aria-labelledby="offcanvasTop">
    <div class="offcanvas-header">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="row">
        <div class="col-lg-6 px-4">
          <h6>Delivery</h6>
          <p>We currently ship within Republic of Ireland only.<br>
            We usually process and ship orders within 1-2 business days (Monday-Friday, excluding holidays).<br>
            We offer shipping with An Post. Usual delivery time frame is 1 - 3 business days from shipping date.<br>
            Shipping fee below free delivery threshold is calculated on checkout.</p>
        </div>
        <div class="col-lg-6 px-4">
          <h6>Returns</h6>
          <p>We allow returns of unused items within 3 months of purchase.
            Standard return fee is €4.95.<br>
            While we take extra care to ensure superior quality of our products,
            should an item be defective, it can be returned for free for a refund.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg bg-offwhite">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--Search-->

    <div class="logo-icon-wrapper">
      <ul class="d-flex mb-0 mx-auto">
        <li class="list-inline-item mx-md-4">
          <a class="nav-link" href="#" id="search" data-bs-toggle="dropdown" title="Search" aria-haspopup="true"
            aria-expanded="false">
            <div class="text-center">
              <div><i class="fas fa-search fa-lg"></i></div>
            </div>
          </a>
          <div class="dropdown-menu border-0 bg-offwhite w-100 p-3 rounded-0 my-0" aria-labelledby="search">
            <form class="form" method="GET" action="{% url 'products' %}">
              <div class="input-group w-100">
                <input class="form-control bg-offwhite rounded-0" aria-label="search" type="text" name="q"
                  placeholder="Search Product">
                <div class="input-group-append">
                  <button class="form-control rounded-0" type="submit" aria-label="Search Product">
                    <span class="icon">
                      <i class="fas fa-search"></i>
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>
        <!--Account-->
        <li class="list-inline-item dropdown-center mx-2 mx-md-4">
          <a class="nav-link d-block" href="#" id="user-options" data-bs-toggle="dropdown" title="Account"
            aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
              <div><i class="fas fa-user fa-lg"></i></div>
            </div>
          </a>
          <div class="dropdown-menu border-0" aria-labelledby="user-options">
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
          </div>
        </li>
        <!--Bag-->
        <li class="list-inline-item my-auto mx-2 ms-md-4">
          <a class="nav-link" href="{% url 'view_bag' %}" data-bs-toggle="tooltip" data-placement="bottom" title="€{{ grand_total|floatformat:2 }}">
            <div class="text-center">
              <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            </div>
          </a>
        </li>
      </ul>
      <!--Logo-->
      <a class="navbar-brand mx-auto" href="{% url 'home' %}">
        <img src="https://a-little-dream.s3.eu-west-1.amazonaws.com/media/logo5.webp" alt="teddy-logo" class="logo">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-4">
        <!--Home link-->
        <li class="nav-item mx-4">
          <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <!--Shop-->
        <li class="nav-item mx-4 dropdown">
          <a class="nav-link {% if url_name == 'products' %}active{% endif %}" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Shop</a>
          <div class="dropdown-menu menu-area bg-offwhite mx-auto px-1 pb-0 pb-lg-4"
            aria-labelledby="all-products-link">
            <div class="row">
              <div class="col">
                <a href="{% url 'products' %}" class="dropdown-item"><strong>All Products</strong></a>
                <hr class="mx-auto">
                <a href="{% url 'products' %}?category=lights_lamps" class="dropdown-item">Lights</a>
                <a href="{% url 'products' %}?category=cuddly_toys" class="dropdown-item">Cuddlies</a>
                <a href="{% url 'products' %}?category=books" class="dropdown-item">Books</a>
                {% if user.is_superuser %}
                <hr class="mx-auto">
                <a href="{% url 'add_product' %}" class="dropdown-item"><strong>Add Product</strong></a>
                {% endif %}
              </div>
            </div>
          </div>
        </li>
        <!--Stories-->
        <li class="nav-item mx-4">
          <a class="nav-link {% if url_name == 'stories' %}active{% endif %}" href="{% url 'stories' %}">Stories</a>
        </li>
      </ul>
    </div>
  </nav>
  {% endwith %}
</header>

{% block postloadjs %}
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>
{% endblock %}