<header>
  {% with request.resolver_match.url_name as url_name %}
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Stories</a>
          </li>
        </ul>
        <a class="navbar-brand mx-auto" href="{% url 'home' %}">
          <img src="/media/logo5.webp" alt="teddy-logo" class="logo">
        </a>
        <ul class="mx-auto">
          <li class="list-inline-item">
            <a class="nav-link" href="#" id="search" data-bs-toggle="dropdown" title="Search" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-search fa-lg"></i></div>
              </div>
            </a>
            <div class="dropdown-menu border-0 bg-offwhite w-100 p-3 rounded-0 my-0" aria-labelledby="search">
              <form class="form" method="GET" action="#">
                <div class="input-group w-100">
                  <input class="form-control bg-offwhite rounded-0" aria-label="search" type="text" name="q"
                    placeholder="Search Product">
                  <div class="input-group-append">
                    <button class="form-control rounded-0" type="submit" aria-label="Search Product">
                      <span class="icon">
                        <i class="fas fa-search"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>
          <li class="list-inline-item dropdown">
            <a class="text-black nav-link d-block" href="#" id="user-options" data-bs-toggle="dropdown" title="Account"
              aria-haspopup="true" aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user fa-lg"></i></div>
              </div>
            </a>
          </li>
          <li class="list-inline-item my-auto">
            <a class="nav-link" href="#" data-bs-toggle="tooltip" data-placement="bottom" title="My Bag">
              <div class="text-center">
                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endwith %}
</header>

{% block postloadjs %}
<script type="text/javascript">
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>
{% endblock %}