{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="star mx-auto">
    <i class="fa-regular fa-star"></i>
  </div>
<div class="container p-5">
    <div class="text-center">
        <h1>{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center p-2">
                <button class="btn btn-info" type="submit" name="action">{% trans "Change Password" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}