{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META TAGS -->
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Aga Tomaszewska">
    <meta name="description"
        content="A Little Dream offers 3 categories of products to make bedtime the best part of the day">
    <meta name="keywords" content="kids bed lamps, colorful lights, children story books, plush toys, teddies, 
        bedtime stories, kids bedtime, childrens bedtime, online children bedtime products">

    {% endblock %}

    {% block corecss %}
    <!--Bootsrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--My custom CSS-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}

    <!-- Favicon -->
    {% block favicon %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" crossorigin="use-credentials">
    {% endblock %}

    <!-- JS -->
    {% block corejs %}
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/d0faf7c48b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    {% endblock %}


    <title>A Little Dream - {% block title %}{% endblock %}</title>

</head>

<body>
    <!-- Header -->
    {% include 'includes/header.html' %}

    <!-- Messages/toasts -->
    {% if messages %}
    {% for message in messages %}
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-absolute top-0 end-0 p-3">
            {% with message.level as level %}
            {% if level == 40 %}
            {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
            {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
            {% include 'includes/toasts/toast_success.html' %}
            {% else %}
            {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <main>{% block content %} {% endblock %}</main>

    <!-- Back to top button -->
    <div id="btn-back-to-top" class="shadow-sm rounded-0 border border-black">
        <a class="d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>

    <!-- Footer -->
    {% include 'includes/footer.html' %}

    {% block postloadjs %}
    <script src="{% static 'js/button.js' %}"></script>
    <!-- Toasts script-->
    <script>
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl)
        })
        toastList.forEach(toast => toast.show())
    </script>
    {% endblock %}



    <!-- Mailchimp scripts -->
    {% block mailchimpjs %}

    {% endblock %}

</body>

</html>