{% extends "base.html" %}
{% block title %}{{ story.title }}{% endblock %}

{% load static %}

{% block content %}
<div class="star mx-auto">
    <i class="fa-regular fa-star"></i>
</div>

<div class="row mt-2">
    <div class="container col-10 offset-1">
        <div class="story-header text-center">
            <h1>{{ story.title }} {% if user.is_staff %}
                <a href="{% url 'edit_story' story.id %}" class="btn btn-outline-dark m-2 text-center">Edit Story</a>
                {% endif %}</h1>
            <p class="fw-bolder fs-5 text">{{ story.author }}</p>
            <p class="fw-bold">
                {% for age_match in story.age_match.all %}
                <i class="fa-solid fa-child px-1"></i> {{ age_match.friendly_name }}
                {% endfor %}
            </p>



        </div>
        <div class="text-center">

            <img class="w-80" src="{{ story.image.url }}" alt="{{ story.image.alt }}">

        </div>
    </div>
</div>

{% endblock %}