{% extends "base.html" %}
{% block title %}{{ story.title }}{% endblock %}

{% load static %}

{% block content %}
<div class="star mx-auto">
    <i class="fa-regular fa-star"></i>
</div>

<div class="row mt-2">
    <div class="container col-10 offset-1">
        <div class="story-header text-center">
            <h1 class="light-grey">{{ story.title }} {% if user.is_staff %}
                <a href="{% url 'edit_story' story.id %}" class="btn btn-outline-dark m-2 text-center">Edit Story</a>
                {% endif %}</h1>
            <p class="fw-bolder fs-5 text">{{ story.author }}</p>
            <p class="fw-bold">
                {% for age_match in story.age_match.all %}
                <i class="fa-solid fa-child px-1"></i> {{ age_match.friendly_name }}
                {% endfor %}
            </p>
            <p class="fst-italic">{{ story.excerpt }}</p>
        </div>
        <div class="text-center">
            <img class="w-80" src="{{ story.image.url }}" alt="{{ story.image.alt }}">
        </div>
        <div class="text-center my-2">
            <p>{{ story.content }}</p>
        </div>
        <div>
            <h4 class="text-center light-blue">Enjoy the magic longer with these products</h4>
        </div>
        <div class="container d-flex flex-row flex-wrap justify-content-evenly align-items-center mt-2">
            {% for product_match in story.product_match.all %}
            <div class="card custom-card story-card border-dark card-shadow rounded p-2">
                <a href="{% url 'product_detail' product_match.id %}" class="text-decoration-none text-dark">
                    <img class="img-fluid rounded story-card-img mb-2" src="{{ product_match.image.url }}"
                        alt="{{ product_match.product.name }}">
                        
                    <p class="fw-bold text-center">{{ product_match.name|truncatechars:15 }}</p>
                
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}